body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 13vh;

    background-image: url(../img/book.jpg);
    color: #FFF8F0;
}

.navcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 70vw;

}

.navcontent button {
    height: 13vh;
    width: 10vw;

    background-color: #1c1925;
    color: #fff;

    border: none;

}

.topnav button:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #1c1925;
    cursor: pointer;
}

.navbtn {
    display: flex;
    justify-content: space-between;

    width: 21vw;
}

.signup {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_field {
    width: 20vw;
    height: 5vh;
}