<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT Translations</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="topnav">
        <div class="navcontent">
            <h1>{% block nav_title %}{% endblock %}</h1>
            <div class="navbtn">
                <button onclick="location.href='/'"><h3>Home</h3></button>
                {% block sign_log_btn %}{% endblock %}
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html> 