{% extends 'base.html'%}

{% block nav_title %}
Sign up
{% endblock %}

{% block body %}
<h2>Sign up</h2>
<form method="post" action="/submit">
    <div class="signup">
        <div>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required class="signup_field">
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required class="signup_field">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required class="signup_field">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required class="signup_field">
        </div>
        
        <input type="submit" value="Sign up"></input>
    </div>
</form>
{% endblock %}