{% extends 'base.html'%}

{% block nav_title %}
Sign up
{% endblock %}

{% block body %}
<h2>Sign up</h2>
    <form method="post">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    
    <form method="post">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    
    <form method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    
    <form method="post">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
    
    <button type="submit">Sign up</button>
</form>
{% endblock %}